body, html{
  height:100%;

}
body{
  margin: 0px;
  background: url("images/bg.png") no-repeat center center fixed ;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}

.cat{
  width: 125px;
  height: auto;
}

.panda{
  width: 150px;
  height: auto;
}
.fox{
  width: 150px;
  height: auto;
}

.fox:hover {
  transform: rotateY(180deg); 
}

#elephant {
  width: 300px;
  height: auto;
  animation: orbit .5s linear infinite;
}

@keyframes orbit {
  from {transform: rotate(0deg) translateX(30px) rotate(0deg);}
  to {transform: rotate(360deg) translateX(30px) rotate(-360deg);}

}

#panda {
  /*animation: orbit2 2s linear infinite;*/
  animation: orbit3 2s linear infinite;
}

@keyframes orbit2 {
  from {transform: rotate(0deg) translateX(100px) rotate(0deg);}
  to {transform: rotate(180deg) translateX(100px) rotate(180deg);}

}
@keyframes orbit3 {
  from {transform: rotate(360deg) translateX(100px) rotate(360deg);}
  to {transform: rotate(0deg) translateX(100px) rotate(0deg);}

}
